:root {
    --very-light-pink: #c7c7c7;
    --white: #ffffff;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #acd9b2;
    --dark: #232830;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; 
}

html {
    width: 100%;
}

.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: none;
}

/* .main-title {
   
} */

.title {
    font-size: 2rem;
    position: relative;
    bottom: 8px;
    font-weight: 800;
}

.title-left {
   width: 85%;
   max-width: 475px;
}

.subtitle {
    text-align: center;
    font-weight:100;
    color: var(--very-light-pink);
}

.form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    max-width: 400px;
    align-items: start;
}

.input {
    display: flex;
    height: 40px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    padding: 10px;
    background-color: var(--text-input-field);
    border-radius: 10px;
    font-size: 1.6rem; 
}

.label {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.primary-buttom {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 0;
    background-color: var(--hospital-green);
    font-size: 1.6rem;
    color: var(--white);
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
}

.secundary-buttom {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--hospital-green);
    background-color: var(--white);
    font-size: 1.6rem;
    color: var(--hospital-green);
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
}

.container-sentemail-logo {
    width: 120px;
    height: 120px;
    background-color: var(--text-input-field);
    padding: 36px 20px;
    border-radius: 200px;
    margin-top: 40px;
}

.primary-logo {
    width: 80px;
    height: 48px;
}

.notas {
    margin-top: 25px;
    font-size: 1.4rem;
}

.notas a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--hospital-green);
}

.main__items--container {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.items__container--cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    width: 90%;
}

.card__item--container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    margin: 10px 8px;
    align-items: center;
    width: auto;
    height: auto;
    justify-items: center;
}

.card__item--image {
    width: 128px;
    height: 128px;
    background-color: var(--hospital-green);
    border-radius: 10px;
}

.card__item--details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    width: 128px;
    height: 35px;
    margin-top: 8px;
}

.card__item--details p {
    grid-column: 1/2;
    font-size: 1.7rem;
}

.card__item--details span {
    grid-column: 1/2;
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: lighter;
    color: var(--very-light-pink);
}

.card__item--details button {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-image: url(/icons/bt_add_to_cart35.png);
    background-position: center;
    background-size: auto;
    border-style: none;
}


/* Menú desplegable Desktop */

.desktop__menu--container {
    position: absolute;
    top: 80px;
    margin-right: 90px;
    width: 190px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px;
}



.desktop__menu--container ul {
    list-style: none;
    text-align: end;

}

.desktop__menu--container ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    margin: 0;
}

.desktop__menu--container ul li a {
    display: inline-block;
    font-size: var(--md);
    color: var(--black);
    text-decoration: none;
}
.desktop__menu--container ul li {
    margin-bottom: 20px;
}

.desktop__menu--container ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop__menu--container ul li:nth-child(1),
.desktop__menu--container ul li:nth-child(2) {
    font-weight: bold;
}

/* Menú desplegable mobile */

.categories__list--container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;padding: 50px;
    font-weight: 600;
}

.categories__list--container h3 {
    font-size: 1.8rem;
    
}

.categories__list--container img {
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(100% - 29px);
    top: 15px;
}

.categories__list--container ul {
    list-style: none;
    margin: 0 0 60px 0;
}
.categories__list--container ul li {
    font-size: 1.7rem;
    margin-top: 40px;
    margin-bottom: 30px;
} 

.categories__list--container ul li:nth-child(7) {
    padding-top: 40px;
    border-top: 1px solid var(--text-input-field);
}

.account__dates--container span {
    display: inline-block;
    font-size: var(--sm);
    font-weight: lighter;
    margin-top: 10px;
}

.account__dates--container span:last-child {
    color: var(--hospital-green);
    font-weight: 600;
}

/* Carrito de compras mobile */

.navigator {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "1 2 3";
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid var(--text-input-field);
}

.navigator img {
    width: 30px;
    height: 30px;
}

.navigator img:first-child {
    margin-right: 30px;
}

.navigator img:last-child {
    margin-left: 30px;
}

.navigator h2 {
    font-size: var(--lg);
}

.orders--container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.orders--container header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos" "tres dos";
    width: 81.761006289308%;
    height: 65px;
    margin: 15px 0 0 0;
    background-color: var(--text-input-field);
    border-radius: 10px;font-size: 2.5rem;
    font-weight: 600;
    place-items: center end;
}

.orders--container header p:first-child {
    grid-area: uno;
    margin: 12px 50px 0 20px;
}

.orders--container header p:last-child {
    grid-area: dos;
    margin-right: 20px;
}

.orders--container header span {
    grid-area: tres;
    margin: 0 50px 12px 0;
    color: var(--very-light-pink);
    font-weight: 600;
}

.main__articles--container {
    width: 90%;
    height: 100%;
}

.main__articles--container div {
    position: relative;
    display: grid;
    grid-template-areas: "uno dos tres" "cuatro dos tres";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 70px;
    margin: 30px 0;
    place-items: center;
}

.main__articles--container div img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.main__articles--container div span {
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--very-light-pink);
    text-align: center;
}

.main__articles--container div p {
    margin-right: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    grid-area: tres;
}

.main__articles--container .orders__cart--articlesnum1 {
    margin: 0;
    grid-area: uno;
}

.main__articles--container .orders__cart--articlesnum4 {
    grid-area: cuatro;
}

.main__articles--container div .icon {
    margin-left: 40px;
    grid-area: tres;
    width: 7px;
    height: 12px;
}



.desktop--navi {
    display: grid;
    grid-template-areas: "izq der";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: 80px;
    width: 100%;
    border-bottom: var(--text-input-field) solid 2px;
}

.desktop--navi #mobile--uno {
    display: none;
    cursor: pointer;
}

.desktop--navi .left {
    display: flex;
    flex-direction: row;
    grid-area: izq;
    width: auto;
    height: 100%;
    align-items: center;
}

.desktop--navi .right {
    display: flex;
    flex-direction: row;
    grid-area: der;
    
    align-items: center;
    place-content: end;
}
.desktop--navi .right p {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 100;
    color: var(--dark);
    margin: 0 8px;
}

.desktop--navi .right img:nth-child(2) {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
}

.desktop--navi .right img:nth-child(3) {
    height: 40px;
    width: 40px;
    margin: 0 25px 0 0;
}

.desktop--navi .left ul {
    display: flex;
    flex-direction: row;
    width: auto;
    list-style: none;
    font-size: 3rem;
    align-items: center;
}

.desktop--navi .left ul li {
    margin: 0 8px;
    color: var(--very-light-pink);
}

.desktop--navi .left img {
    width: 150px;
    margin: 0 20px;
}

.desktop--navi .left h4 {
    border: 2px solid var(--hospital-green);
    color: var(--hospital-green);
    padding: 10px;
    border-radius: 15px;
}

.detail__card--body {
    display: flex;
    place-content: end;
    width: 100%;
    height: 100%;
}

.right--container {
    height: 100%;
    width: 40%;
}

.detail__card--info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.right--container .image--detail img {
    width: 100%;
    height: 300px;
    border-radius: 0 0 20px 20px;
}

.points {
    display: flex;
    justify-content: center;
  }
  .points > li {
    background: var(--very-light-pink);
    width: 8px;
    height: 8px;
    margin: 8px 6px;
    border-radius: 50%;
    list-style-type: none;
    cursor: pointer;
  }
  .points > .active {
    background: var(--hospital-green);
  }
  .points > li:hover {
    background: var(--hospital-green);
  }

.detail__card--info h4 {
    font-size: 1.6rem;
    width: 100%;
}

.detail__card--info span {
    font-size: 1.4rem;
    color: var(--very-light-pink);
    width: 100%;
}

.detail__card--info p {
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--very-light-pink);
}

.detail__card--info button img {
    height: 24px;
    width: 24px;
    margin: 8px;
}

.main__articles--container section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#except {
    margin-top: 23.5px;
}

#except2 {
    max-width: 89.996936701105%;
}

.inactive {
    display: none;
}


@media (min-width: 801px) {
    .categories__list--container {
        display: none;
    }
}

@media (max-width: 927px) {

    .logo {
        display: inline-block;
        position: relative;
        height: 32px;
        width: auto;
        bottom: 70px;
    }

    .desktop--navi .left ul {
        display: none;
    }

    .desktop--navi .right, .desktop--navi .left {
        width: auto;
    }

    .desktop--navi .right p {
        display: none;
    }

    .desktop--navi .right img:nth-child(2) {
        display: none;
    }

    .desktop--navi {
        display: grid;
        grid-template-areas: "uno dos tres";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        place-content: center center;
    }

    .desktop--navi #mobile--uno {
        display: flex;
        grid-area: uno;
        justify-content: start;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .desktop--navi #mobile--uno img {
        width: 35px;
        height: 35px;
        margin: 25px;
    }

    .desktop--navi #mobile--dos {
        display: flex;
        grid-area: dos;
        place-content: center center;
    }

    .desktop--navi #mobile--dos img {
        margin: 0;
    }

    .desktop--navi #mobile--tres {
        display: flex;
        grid-area: tres;
        place-content: center end;
        height: 100%;
        width: 100%;
    }

    .right--container {
        height: 80%;
        width: 50%;
    }
    .desktop__menu--container {
        display: none;
    }

    .categories__list--container {
        width: 50%;
    }

    @media (max-width: 500px) {
        .right--container {
            height: 100%;
            width: 100%;
        }

        .categories__list--container {
            width: 100%;
        }
    }