:root {
    --very-light-pink: #c7c7c7;
    --white: #ffffff;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #acd9b2;
    --dark: #232830;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; 
}
.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: relative;
    height: 32px;
    width: auto;
    bottom: 70px;
}

.main-title {
    font-size: 2rem;
}

.title {
    position: relative;
    bottom: 8px;
    font-weight: 800;
}

.title-left {
   width: 85%;
   max-width: 475px;
}

.subtitle {
    text-align: center;
    font-weight:100;
    color: var(--very-light-pink);
}

.form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    max-width: 475px;
}

.input {
    display: flex;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    padding: 10px;
    background-color: var(--text-input-field);
    border-radius: 10px;
    font-size: 1.6rem; 
}

.label {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.primary-buttom {
    position: relative;
    margin-top: 40px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: var(--hospital-green);
    font-size: 1.6rem;
    color: var(--white);
    max-width: 200px;
}

.secundary-buttom {
    position: relative;
    left: calc(50% - 100px);
    margin-top: 40px;
    height: 40px;
    border: 2px solid var(--hospital-green);
    border-radius: 10px;
    background-color: var(--white);
    font-size: 1.6rem;
    color: var(--hospital-green);
    max-width: 200px;
}

.container-sentemail-logo {
    width: 120px;
    height: 120px;
    background-color: var(--text-input-field);
    padding: 36px 20px;
    border-radius: 200px;
    margin-top: 40px;
}

.primary-logo {
    width: 80px;
    height: 48px;
}

.notas {
    margin-top: 25px;
    font-size: 1.4rem;
}

.notas a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--hospital-green);
}

.main__items--container {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.items__container--cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    width: 90%;
}

.card__item--container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    margin: 10px 8px;
    align-items: center;
    width: auto;
    height: auto;
}

.card__item--image {
    width: 128px;
    height: 128px;
    background-color: var(--hospital-green);
    border-radius: 10px;
}

.card__item--details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    width: 128px;
    height: 35px;
    margin-top: 8px;
}

.card__item--details p {
    grid-column: 1/2;
    font-size: 1.7rem;
}

.card__item--details span {
    grid-column: 1/2;
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: lighter;
    color: var(--very-light-pink);
}

.card__item--details button {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-image: url(/icons/bt_add_to_cart35.png);
    background-position: center;
    background-size: auto;
    border-style: none;
}


/* Menú desplegable Desktop */

.desktop__menu--container {
    width: 130px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px;
    
}

.desktop__menu--container ul {
    list-style: none;
    text-align: end;

}

.desktop__menu--container ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    margin: 0;
}

.desktop__menu--container ul li a {
    display: inline-block;
    font-size: var(--md);
    color: var(--black);
    text-decoration: none;
}
.desktop__menu--container ul li {
    margin-bottom: 20px;
}

.desktop__menu--container ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop__menu--container ul li:nth-child(1),
.desktop__menu--container ul li:nth-child(2) {
    font-weight: bold;
}

/* Menú desplegable mobile */

.categories__list--container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;padding: 50px;
    font-weight: 600;
}

.categories__list--container h3 {
    font-size: 1.8rem;
    
}

.categories__list--container img {
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(100% - 29px);
    top: 15px;
}

.categories__list--container ul {
    list-style: none;
    margin: 0 0 60px 0;
}
.categories__list--container ul li {
    font-size: 1.7rem;
    margin-top: 40px;
    margin-bottom: 30px;
} 

.categories__list--container ul li:nth-child(7) {
    padding-top: 40px;
    border-top: 1px solid var(--text-input-field);
}

.account__dates--container span {
    display: inline-block;
    font-size: var(--sm);
    font-weight: lighter;
    margin-top: 10px;
}

.account__dates--container span:last-child {
    color: var(--hospital-green);
    font-weight: 600;
}

/* Carrito de compras mobile */

.navigator {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "1 2 3";
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid var(--text-input-field);
}

.navigator img {
    width: 30px;
    height: 30px;
}

.navigator img:first-child {
    margin-right: 30px;
}

.navigator img:last-child {
    margin-left: 30px;
}

.navigator h2 {
    font-size: var(--lg);
}

.orders--container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.orders--container header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos" "tres dos";
    width: 90%;
    height: 65px;
    margin: 15px 0 0 0;
    background-color: var(--text-input-field);
    border-radius: 10px;font-size: 2.5rem;
    font-weight: 600;
    place-items: center end;
}

.orders--container header p:first-child {
    grid-area: uno;
    margin: 12px 50px 0 0;
}

.orders--container header p:last-child {
    grid-area: dos;
    margin-right: 20px;
}

.orders--container header span {
    grid-area: tres;
    margin: 0 50px 12px 0;
    color: var(--very-light-pink);
    font-weight: 600;
}

.main__articles--container {
    width: 90%;
    height: auto;
}

.main__articles--container div {
    display: grid;
    grid-template-areas: "uno dos tres" "cuatro dos tres";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 70px;
    margin: 30px 0;
    place-items: center;
}

.main__articles--container div img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.main__articles--container div span {
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--very-light-pink);
    text-align: center;
}

.main__articles--container div p {
    font-size: 1.6rem;
    font-weight: bold;
    grid-area: tres;
}

.main__articles--container .orders__cart--articlesnum1 {
    grid-area: uno;
}

.main__articles--container .orders__cart--articlesnum4 {
    grid-area: cuatro;
}

.main__articles--container div .icon {
    position: absolute;
    left: calc(100% - 25px);
    grid-area: tres;
    width: 7px;
    height: 12px;
}

//Barra de Navegación

.desktop__nav--nav {
    display: grid;
    place-items: end;
    height: 100%;
    width: 100%;
}

.desktop__nav--nav .left {
    display: flex;
    flex-direction: row;
    grid-area: left;
    height: 100%;
    width: auto;
}

.desktop__nav--nav .right {
    display: flex;
    flex-direction: row;
    grid-area: right;
    height: 100%;
    width: auto;
}

.desktop__nav--nav .left ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 3rem;
}